.initial-modal {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 1rem;

	padding: var(--spacing-2xl) 0;
}

@media (width >= 1024px) {
	.initial-modal {
		justify-content: center;

		padding: var(--spacing-2xl);
	}
}
