.secret-number-game-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
	gap: 2rem;
}

.secret-number-box {
	align-self: center;

	font-size: 4rem;
	padding: var(--spacing-2xl) var(--spacing-4xl);
	border: 1px solid var(--primary-text-color);
}

.secret-number-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.secret-number-form > input {
    padding: var(--spacing-sm);
	background-color: rgba(222, 222, 217, 0.5);
	border: 1px solid var(--primary-text-color);
	border-radius: var(--border-radius-card);
	text-align: center;
}

.error-secret-number {
    font-size: 2rem;
	text-align: center;
}

.accept-secret-number {
    text-align: center;
}